<!doctype html>
<html lang="en">
<head>
{% load static %}  
  <meta charset="utf-8" />
  <title>Kshitij Forex</title>
  <link rel="stylesheet" href="{% static 'css/forex.css' %}" />
</head>
<body class="demos ">
  
  <a href="http://www.iitkgp.ac.in"><img src="{% static 'img/kgp_logo.png' %}" class="kgplogo" /></a>
  <section id="content">
      <section id="copy">

  </section>

  <div id="container" class="clickable clearfix" align="center">
    
          
    <div class="element other nonmetal   " data-symbol="$" data-category="other">
        
    </div>
    <div class="element other nonmetal   " data-symbol="$" data-category="other">
        
    </div>
    <div class="element other nonmetal   " data-symbol="$" data-category="other">
        
    </div>
    <div class="element other nonmetal   " data-symbol="$" data-category="other">
        
    </div>
    <div class="element other nonmetal   " data-symbol="$" data-category="other">
        
    </div>
    <div class="element other nonmetal   " data-symbol="$" data-category="other">
        
    </div>
    <div class="element other nonmetal   " data-symbol="$" data-category="other">
        
    </div>
    <div class="element other nonmetal   " data-symbol="$" data-category="other">
        
    </div>
    <div class="element other nonmetal   " data-symbol="$" data-category="other">
        
    </div>
    <div class="element other nonmetal   " data-symbol="$" data-category="other">
        
    </div>
    <div class="element other nonmetal   " data-symbol="$" data-category="other">
        
    </div>
    <div class="element other nonmetal   " data-symbol="$" data-category="other">
        
    </div>
          
  </div> 
</body>
</html>