<p><b>Welcome to the Forex Portal.</b></p>
<p>Results of the first round of forex is out. Please visit the forum for the results.</p>
<p>Winners of second round of forex declared at the <strong><a href="http://ktj.in/#fc490ca45c00b1249bbe3554a4fdf6fb">forex page at www.ktj.in</a></strong><a href="http://ktj.in/#fc490ca45c00b1249bbe3554a4fdf6fb">.</a></p>
<p>This is the<strong> third and the last</strong> round of Forex and will last only <strong>for one week</strong>.So get going and enjoy the grand finale. </p>
<p>Please refer to the <b>help</b> section to get started on the Foeign Exchange</p>
<p>Click on the tabs to begin trading</p> Post your queries and doubts on the forum at www.ktj.in<br><br>
