<!DOCTYPE html>
{% load static %}
<html xmlns:fb="http://ogp.me/ns/fb#" charset="utf-8" manifest="/cache.appcache" lang='en' itemscope itemtype="http://schema.org/Organization">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<meta name="title" content="Forex|Woodstock" />
<meta name="description" content="The largest techno-management fest Kshitij 2014, IIT Kharagpur brings you WOODSTOCK. Woodstock is a real stock market game played with virtual money.The players face real time share price fluctuations and trade accordingly.The game ensures first hand experience of the real market without the associated risk of losing money.This event allows you to understand the vagaries of the stock exchange and gain experience before you take the markets head-on." />
<meta name="Keywords" content="kshitij,iit, kgp, kharagpur, online, events, woodstock, forex, bazaar , stock market, currency, commodity, exchange" />
<link rel="shortcut icon" href="{% static 'img/favicon.ico'%}" />
		<title>Forex | Ktj Bazaar</title>
		<link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
		<link rel="stylesheet" href="{% static "css/main_style.css" %}" />
		<link rel="stylesheet" href="{% static 'css/forex.css' %}" />
		
		<script type="text/javascript" src="{% static "js/jquery.js" %}" ></script>
		<script type="text/javascript" src="{% static "js/jquery.form.js" %}" ></script>
		<script type="text/javascript" src="{% static "js/forex.js" %}" ></script>
		<script type="text/javascript" src="{% static "js/bootstrap.js" %}" ></script>
	</head>
	<body>
		<div class="header">
			<div class="ktj-logo"><img class="logo" src="{% static "img/ktj_logo.png" %}"></div>
			<div class="sponsor-logo card"><img class="logo" src="{% static "img/sponsor.png" %}"></div>
			<div class="heading heading-active">Forex</div>
			<a href="/woodstock"><div class="heading">Woodstock</div></a>
			<div class="info">
			<div id="time" class="time card"></div>
			<div id="indices" class="indices card"></div>
			</div>			
			<div id="stats" class="stats card"></div>
			<div class="stats card">Round <br/><h1 style="text-align:center">1</h1></div>
		</div>
		
		<!--<div class="marquee">
			<marquee id="note_details">
				{% for notif in notifications %}
				{{notif.message}}
				{% endfor %}
				</marquee>
		</div>-->
		
		
		<div class="wrapper">
		<div id="price-info" class="price-info">
			
			<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Forex Statistics
</button>

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog" style="width: 357px;">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" style="color: #000;" id="myModalLabel">Forex Statistics</h4>
		      </div>
		      <div class="modal-body">
		        <div id="price-inf" class="price-inf card"></div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		        
		      </div>
		    </div>
		  </div>
		</div>
<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal2">
  Forex Charts
</button>

		<!-- Modal -->
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog" style="width: 857px;">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" style="color: #000;" id="myModalLabel">Forex Charts</h4>
		      </div>
		      <div class="modal-body" style="min-height:400px">
		        	<div id="charts" class="charts trade card">
		<div class="tab-head">Charts</div>
			<div id="chart-option">
				<select name="type" id="type">
					<option value="currency-chart-select" selected>Currency</option>
					<option value="commodity-chart-select">Commodity</option>
				</select>
			</div>
			<div id="chart-option">
				<select name="currency" class="chart-select" id="currency-chart-select">
					{% for option in currency %}
					<option value="{{option.identifier}}">{{option.currency}}</option>
					{% endfor %}
				</select>
				
				<select name="commodity" class="chart-select" id="commodity-chart-select">
					{% for option in commodity %}
					<option value="{{option.identifier}}">{{option.commodity}}</option>
					{% endfor %}
				</select>
				<button name="chart-submit" onclick="showChart()">Show Chart</button>				
			</div>
			
			<div id="chart" class="chart">
					
			</div>
		</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		        
		      </div>
		    </div>
		  </div>
		</div>
			<div class="contact"></div>
		</div>
		
		<div id="transactions" class="transactions">
		<div id="trade-currency" class="trade card"></div>
		<div id="trade-commodity" class="trade card"></div>
		
		</div>
		
		<div class="card menu">
			<div class="menu-inner">
				<div class="menu-head">Menu</div>
				<div class="menu-item menu-active" onclick="showTrade()">Trade</div>
				<div class="menu-item" onclick="showTerminal()">Currency Terminal</div>
				<div class="menu-item" onclick="showCommTerminal()">Commodity Terminal</div>
				<div class="menu-item" onclick="showPending()">Currency Pending</div>
				<div class="menu-item" onclick="showCommPending()">Commodity Pending</div>
				<div class="menu-item" onclick="showHistory()">Currency History</div>
				<div class="menu-item" onclick="showCommHistory()">Commodity History</div>
				<div class="menu-item" onclick="showTopRankers()">Top Rankers</div>
				<div class="menu-item" onclick="showAlgo()">Algo Trade</div>
				<a href="/accounts/logout"><div class="menu-item">Logout</div></a>
			</div>
			<div class="notifications">
				<div class="menu-head">Notifications</div>
				{% for notif in notifications %}
				<div class="notifications-item">{{notif.message}}</div>
				{% endfor %}
			</div>
		</div>
		 
		</div>
		
		<!--<div class="footer">
			<div class="copyright"> &copy Kshitij 2014 </div>
			<ul class="footer-inner">
				<li><a href="forex/help">Help</a> |</li>
				<li><a href="forex/credits">Credits</a> |</li>
				<li><a href="www.ktj.in">Kshitij 2014</a> |</li>
			</ul>
			<ul class="social">
				<li><img class="social" src="{% static 'img/facebook.png' %}"/></li>
				<li><img class="social" src="{% static 'img/twitter.png' %}"/></li>
				<li><img class="social" src="{% static 'img/google.png' %}"/></li>
			</ul>
		</div>-->
		
	</body>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45285323-1', 'ktj.in');
  ga('send', 'pageview');

</script>
	
</html>