{% load static %}
<!--<script type="text/javascript" src="{% static "js/forex.js"%}"></script>-->
<div class="tab-head">Currency Trading</div>
<form id="transaction_form" method="post" action="{% url "transact" %}">
{% csrf_token %}
<table id="transaction" cellpadding="3" cellspacing="0" class="trade-table">
	<tr>
	<td id="transaction-head">Currency</td>
	<td id="transaction-head">Lots</td>
	<td  id="transaction-head">Leverage</td>
	<td id="transaction-head">Long/Short</td>
	<td id="transaction-head" valign="top">Trigger Price</td>
	</tr>
	
	<tr>
	<td  id="transaction-row">
		<select name='currency' id='currency'>
			{% for option,param in forex_base %}
			<option value="{{option.currency}}">{{option.currency}} {{option.bid}}/{{ param }} (Bid= {{option.bid}},Ask={{option.ask}})</option>
			{% endfor%}
		</select>
	</td>
	<td id="transaction-row">
		<select name="lots" id="lots">
			{% for option in lots %}
			<option value="{{option}}">{{option}}</option>
			{% endfor %}
		</select>
	</td>	
	<td  id="transaction-row">
		<select name="levearage" id="levearage">
			<option value="25"> 1:25</option>
			<option value="50"> 1:50</option>
			<option selected value="100"> 1:100</option>
			<option value="200"> 1:200</option>
		</select>	
	
	</td>
	
	<td id="transaction-row">
		<select name="bors" id="bors">
			<option value="Long" selected> Long</option>
			<option value="Short"> Short</option>
		</select>
	</td>
	
	<td  id="transaction-row">
	     <input type="text" name="triggerprice" id="triggerprice" value="" />
	</td>
	
	<td  id="transaction-row">
	<input type="submit" class="placeorder" name="submit" value="Place Order"/>
	</td>
	
	</tr>
	
	</table>

	<div class="pending">Pending Order at Price : <input type="text" name="pendingprice" id="pendingprice" value="" />
	</form>
	
	<span class="very-small"> ( If left blank will be considered as an immediate order )</span>
	<div style="padding-top:5px;padding-bottom: 5px" class="very-small">* Trigger Price - If left blank will be considered insecure against infinite loss</div>

</div>

<div class="results" id="results"></div>