html{ width:1335px ; height:800px; padding:0px; margin:0px;}
body{width:1335px; height:800px ; padding:0px; margin:0px;background:#000000;
	color:#FFFFFF;font-family:tahoma;text-align:justify}
.header{ width:100%;padding:0.5%;}
.logo{width:180px;}
.ktj-logo{display:inline-block;vertical-align: middle}
.sponsor-logo{display:inline-block;vertical-align: middle;padding:3px;}
.heading{display:inline-block;font-family:tahoma;margin-left:0px;top:-15px;padding-left:3%;padding-right:3%;padding-top:1%;padding-bottom:1%;border-bottom-left-radius:5px;border-bottom-right-radius:5px;font-size:25px;background:#00191A;position:relative}
.heading-active{background:#307D7E;margin-left:50px}
a{color:#FFFFFF;text-decoration: none}
table.bordered{border-collapse: collapse;border: 1px solid gray;padding:2px;}
table.bordered td,table.bordered th{border: 1px solid gray;padding:1px}
.info{display:inline-block;vertical-align: top;margin-left:100px;}
.card{background:rgba(255,255,255,0.8);padding:2px;margin:2px;border-radius:5px;
	margin-bottom:5px;border:1px solid #B8B8B8;color:#00191A}
.time{font-size:36px;display:none;color:#00191A;font-family:tahoma;font-size:18px;padding-left:5px;vertical-align:top}
.green{color:#090}
iframe{border:none;}
.red{color:#cc0000}
.marquee{background:#00191A;color:#999999}
.indices{font-size:12px;font-family:tahoma;padding-top:5px;padding-bottom:5px;}
.stats{font-size:12px;font-family:tahoma;display:inline-block;padding-left:10px;padding-right:10px;vertical-align: top}
.price-info{display:inline-block;width:224px}
.status-img{width:10px;padding-left:5px;vertical-align: middle}
.transactions{display:inline-block;vertical-align: top;width:805px;}
.trade{margin-left:-5px;margin-bottom: 50px;height: 200px;}
.very-small{font-size:11px}
.tab-head{background-color:#00191A;padding:3px;color:#FFFFFF}
.trade-table{margin:2px;font-size:13px;}
#transaction-row{}
#transaction-head{margin-left:3px}
.placeorder{
border:1px solid #34740e; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 5px 5px 5px;cursor:pointer; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #4ba614; background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#008c00));
 background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
 background-image: -moz-linear-gradient(top, #4ba614, #008c00);
 background-image: -ms-linear-gradient(top, #4ba614, #008c00);
 background-image: -o-linear-gradient(top, #4ba614, #008c00);
 background-image: linear-gradient(to bottom, #4ba614, #008c00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#008c00);
}

.placeorder:hover{
 border:1px solid #224b09;
 background-color: #36780f; background-image: -webkit-gradient(linear, left top, left bottom, from(#36780f), to(#005900));
 background-image: -webkit-linear-gradient(top, #36780f, #005900);
 background-image: -moz-linear-gradient(top, #36780f, #005900);
 background-image: -ms-linear-gradient(top, #36780f, #005900);
 background-image: -o-linear-gradient(top, #36780f, #005900);
 background-image: linear-gradient(to bottom, #36780f, #005900);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36780f, endColorstr=#005900);
}
.pending{font-size:12px;padding-left:20px}
.results{width:800px;font-size:12px;padding:5px;height:24px;text-align:center;margin-right:5px;max-width:780px;overflow:hidden}
#chart-option{padding:10px;display:inline-block}
#commodity-chart-select{display:none}
#chart{padding-bottom:10px}
.chart-select{display:none;}
.menu{display:inline-block;vertical-align:top;width:185px;color:#FFFFFF;margin-left: 50px;}
.menu-inner{width:100%;}
.menu-head{background-color:#00191A;padding:3px;color:#FFFFFF}
.menu-item{background:#307D7E;padding:3px;margin-top:2px}
.menu-active{color:#00191A;margin-left:-5px}
.menu-item:hover{margin-left:-5px;cursor:pointer}
.terminal-list{font-size:14px;width:795px;max-height:600px;overflow-y: auto;border:1px solid #FFFFFF}
.terminal-table{width:100%;font-size:14px;}
div.terminal-list::-webkit-scrollbar
{
width:3px;
}
 
/* Track */
div.terminal-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3); 
	background:rgba(0,0,0,0.5);
}
 
/* Handle */
div.terminal-list::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background:rgba(255,255,255,0.5);
	border:rgba(255,255,255,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.2); 
}
div.terminal-list::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,255,255,0.1); 
}

div.footer{margin-top:5px; padding:5px;border-top:1px solid #FFFFFF;font-size:14px;}
ul.footer-inner{list-style: none;text-align:center;font-size:14px;display:inline-block;vertical-align:top}
ul.footer-inner>li{display:inline-block;padding-left:5px;}
div.copyright{display:inline-block;text-align:left;padding-left:30px;}
ul.social{list-style: none;text-align:center;font-size:14px;display:inline-block;float:right;vertical-align:top}
ul.social>li{display:inline-block;padding-left:5px;}
img.social{width:25px}
ul{margin:0px}
.price-info{padding:5px;height:600px;overflow-y: auto;}
.contact{padding:10px;font-size:14px;text-align:center;}
.notifications{margin-top:5px}
.notifications-item{padding:3px;font-size:15px;color:#00191A}
