<!--{% load url from future %}
{% load i18n %}
{% load static %}
   

{% block content %}-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:fb="http://ogp.me/ns/fb#" charset="utf-8"  lang='en' itemscope itemtype="http://schema.org/Organization">
<head>
	<link rel="stylesheet" href="{% static 'css/ws.css' %}" />
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript">
/*  
  function createMessage(){
    var tie = document.createElement("div");
    tie.id="myAlert";
    tie.style="max-height:84%;top:8%;line-height:25px;font-size:100%;font-family:Helvetica;";
    var fill = document.createElement("div");
    fill.id="pageFill";
    document.body.appendChild(tie);
    document.body.appendChild(fill);
    tie.innerHTML="<div id='myClose'>&#9762;</div>";
  }
  function showMessage(tit,con){
    var a=document.getElementById("myAlert");
    a.innerHTML="<div id='myClose' onclick='removeMessage();'>&#9762;</div><h1 style='background-color:#418ABB;font-family:'Agency FB';font-size:141%;>"+tit+"</h1><p>"+con+"</p>";
    a.style.opacity=1;
  }
  function removeMessage(){
    var a=document.getElementById("myAlert");
    document.body.removeChild(a);
    var c=document.getElementById("pageFill");
    document.body.removeChild(c);
  }

  function showfinalists(){
    console.log('finalists!!');
    createMessage();
    $.get('/accounts/finalists',{}, function(data){ showMessage('Bazaar Finalists', data); });
  }*/
	</script>
<title>Bazaar | Kshitij 2014</title>
<style type="text/css">
</style>
</head>
<body>

<div class="ktj-logo"><img class="logo" src="{% static "img/ktj_logo.png" %}"></div>
<div class="sponsor-logo card"><img class="logo" src="{% static "img/sponsor.png" %}"></div>
	<div id= "loginBox">
	<p style='text-align:center;font-size:1.3em;'>Bazaar has been closed. Results will be announced shortly.</p>
	<!--<p style='text-align:center;font-size:1.3em;margin-bottom:0;'>The Final Round has started. <a onclick='showfinalists();' style='cursor:pointer;font-weight:bold;'>Click here</a> to see who made it!</p>-->
	</div>
	
</body>
</html>
<!--
{% endblock %}
-->

