{% load url from future %}
{% load i18n %}
{% load static %}
   

{% block content %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:fb="http://ogp.me/ns/fb#" charset="utf-8"  lang='en' itemscope itemtype="http://schema.org/Organization">
<head>
	<link rel="stylesheet" href="{% static 'css/ws.css' %}" />
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript">
		//FaceBook Signup
		google_init();
		var FBK='FB';
var GPL='GP';
var KTJ='';
var username="";
var email="";
		var URLS={ACCOUNTS:'/accounts/'};
		var ajax_loader='<img src="/static/img/ajax-loader.gif"/>';


//Checks whether User Logged in
function check_logged(success,fail,data2,data1)
{
	if(success==undefined)
	{
		success=pass;
	}
	if(fail==undefined)
	{
		fail=pass;
	}
	var logged=false;
	$.ajax({
		url:URLS.ACCOUNTS+'check_logged',
		type:'POST'}).done(function(data){
			var res=data;
			logged=res.logged;
			if(logged)
			{
				success();
			}
			else
			{
				fail();
			}
		});
}

function profile_exists(username,email,social,success,fail,data1,data2,data22)
{
	if(social==undefined)
	{
		social="";
	}
	var exists=false;
	$.ajax({
		url:URLS.ACCOUNTS+'profile_exists',
		data:{username:username,social:social,email:email},
		type:'POST',
		async:false,
		dataType:'json',}).done(function(data){
			//var res=JSON.parse(data);
			res=data;
			exists=res.exists;
			console.log(exists);
			if(exists)
			{
				if(data2!=undefined && data22!=undefined)
				{
				success(data2,data22);
				}
				else if(data2!=undefined)
				{
				success(data2);
				}
				else{
					success();
				}
			}
			else
			{
				if(data1!=undefined)
				{
				fail(data1);
				}
				else{
				fail();
				}
					
			}
		
	});
	
}

 window.fbAsyncInit = function() {
  FB.init({
    appId      : '210461222454874', // App ID
    channelUrl : '//ktj.in/channel', // Channel File
    status     : true, // check login status
    cookie     : true, // enable cookies to allow the server to access the session
    xfbml      : true  // parse XFBML
  });
  


   
  FB.Event.subscribe('auth.authResponseChange', function(response) {
    // Here we specify what we do with the response anytime this event occurs. 
    if (response.status === 'connected') {
    FB.api('/me', function(response) {
    profile_exists(response.username,response.email,FBK,social_login,pass(),undefined,FBK);
    });
    } else if (response.status === 'not_authorized') {
      //FB.login(function(response){},{scope:'email'});
    } else {
      //facebook_login();
    }
    
  });
  };
  
  function logged_in()
  {
  	setTimeout(function(){window.location.href='/';},1000);
  }
  
  function login_social_fb(response)
  {
  	var access_token=FB.getAuthResponse()['accessToken'];
  	console.log(access_token);
	var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
  	$.ajax({
  			url:URLS.ACCOUNTS+'social_login',
  			type:'POST',
  			data:{username:response.username,email:response.email,access_token:access_token,social:FBK,csrfmiddlewaretoken:token},}).done(function(data){
  				console.log('Done');
  				check_logged(logged_in,pass);
  			});
  }
  
  function login_social_gp(response)
  {
  	var access_token=accessToken;
  	console.log(access_token);
	var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
  	$.ajax({
  			url:URLS.ACCOUNTS+'social_login',
  			type:'POST',
  			data:{username:response.name,email:response.email,access_token:access_token,social:GPL,csrfmiddlewaretoken:token},
  	}).done(function(data){
  				console.log('Done');
  				check_logged(logged_in,pass);
  				
  		});
  }
  
  function social_login(social,res)
  {
  	if(social==FBK)
  	{
  	FB.api('/me', function(response) {
  		facebook=true;
      profile_exists(response.username,response.email,FBK,login_social_fb,pass(),undefined,response);
  	});
  	}
  	else if(social==GPL)
  	{
  		google=true;
      profile_exists(response.name,response.email,GPL,login_social_gp,pass(),undefined,res);
  	}
  	
  }
  
  function pass()
  {
  return;
  }

  // Load the SDK asynchronously
  (function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
  }(document));

  // Here we run a very simple test of the Graph API after login is successful. 
  // This testAPI() function is only called in those cases.
  //google_init
function google_init()
{
	//G+ signup
(function() {
  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
  po.src = 'https://apis.google.com/js/client:plusone.js?onload=google_login';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
//G+ signup

(function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
  
}
//google_init


  function facebook_login()
  {
  	$('#error').html(ajax_loader);
  	FB.login(function(response){},{scope:'email,user_birthday'});
  	console.log('facebook_login');
  }
  
  function GPRegister(authResult) {
  if (authResult['access_token']) {
  	//document.write(authResult);
  	accessToken=authResult.access_token;
  	$.ajax({
  		url:'https://www.googleapis.com/oauth2/v1/userinfo?access_token='+accessToken,
  		dataType:'json',
  		type:'GET'}).done(function(data){
  			response=data;
  			profile_exists(response.name,response.email,GPL,social_login,pass,data,GPL,response);
  		});
  } else if (authResult['error']) {
    
  }
}
  
  function google_login()
  {
  	//Google_register
  	$('#error').html(ajax_loader);
    gapi.signin.render('gplus_login', {
  	'callback':"GPRegister",
    'clientid':"406502212247.apps.googleusercontent.com",
    'cookiepolicy':"single_host_origin",
    'requestvisibleactions':"http://schemas.google.com/AddActivity",
    'scope':"https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email",
    });
  }
  
  function createMessage(){
    var tie = document.createElement("div");
    tie.id="myAlert";
    tie.style="max-height:84%;top:8%;line-height:25px;font-size:100%;font-family:Helvetica;";
    var fill = document.createElement("div");
    fill.id="pageFill";
    document.body.appendChild(tie);
    document.body.appendChild(fill);
    tie.innerHTML="<div id='myClose'>&#9762;</div>";
  }
  function showMessage(tit,con){
    var a=document.getElementById("myAlert");
    a.innerHTML="<div id='myClose' onclick='removeMessage();'>&#9762;</div><h1 style='background-color:#418ABB;font-family:'Agency FB';font-size:141%;>"+tit+"</h1><p>"+con+"</p>";
    a.style.opacity=1;
  }
  function removeMessage(){
    var a=document.getElementById("myAlert");
    document.body.removeChild(a);
    var c=document.getElementById("pageFill");
    document.body.removeChild(c);
  }

  function showfinalists(){
    console.log('finalists!!');
    createMessage();
    $.get('/accounts/finalists',{}, function(data){ showMessage('Bazaar Finalists', data); });
  }
	</script>
<title>Bazaar | Kshitij 2014</title>
<style type="text/css">
</style>
</head>
<body>

<div class="ktj-logo"><img class="logo" src="{% static "img/ktj_logo.png" %}"></div>
<div class="sponsor-logo card"><img class="logo" src="{% static "img/sponsor.png" %}"></div>
	<div id= "loginBox">
	<!--<p style='text-align:center;font-size:1.3em;margin-bottom:0;'>The Final Round has started. <a onclick='showfinalists();' style='cursor:pointer;font-weight:bold;'>Click here</a> to see who made it!</p>-->
  <!--<p style='text-align:center;font-size:1.3em;margin-bottom:0;'>Bazaar has been closed. Results will be out soon.</p>-->
  <div class= "form" >
		
<form class="login" id="login_form" method="post" action="{% url 'account_login' %}">
	 {% csrf_token%}
			
            <div class="login-head">Login</div>
            <div class="input-element-login" id="username-input">{{ form.login }}</div>
            
            <div class="input-element-login">{{ form.password }}</div>


  <input type="image" src="{% static 'img/signin.png' %}" class="signIn">
  
  <div class="login-section" style="padding-top:10px">
  	<div class="login-wrap" style="text-align:center;width:100%;padding-top:5px;" id="social-reg">
  	<a class="social-reg" onclick="facebook_login()"><img src="{% static 'img/users/fb_signin.png'%}"></a>
  	</div>
  	<div class="login-wrap" style="text-align:center;width:100%;padding-top:5px;" id="social-reg">
  	<span id="signinButton">
  <div id="gplus_login" onclick="google_login()" class="customGPlusSignIn social-reg">
  	<img src="{% static 'img/users/google_signin.png'%}">
  </div>
</span>
</div>
  </div>
  
  <div class="login-section" style="padding-top:10px;text-align:center;width:100%;font-size:23px;">
  	Not Registered yet? Register at <a target="__blank" href="http://ktj.in">ktj.in</a>
  </div>
  
        <div class="login-wrap">
        {% if form.errors %}
  		<div id="error" class="error">Invalid Credentials</div>
  		{% endif %}
  		</div>

  </div>
  
		</form>
	</div>
	
	</div>
</body>
</html>


  



{% endblock %}


