{% load url from future %}
{% load i18n %}
{% load static%}
   

{% block content %}


<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  
  {% csrf_token%}
  <div class="register-section">
        <div class="register-wrap">
            <div class="label">{{ form.username.label }}</div> 
            <div class="input-element" id="username-input">{{ form.username }}</div>
        </div>
        <div class="register-wrap">
            <div class="label">{{ form.email.label }}</div> 
            <div class="input-element" id="email-input">{{ form.email }}</div>
        </div>
        <div class="register-wrap">
            <div class="label">{{ form.password1.label }}</div> 
            <div class="input-element">{{ form.password1 }}</div>
        </div>
        <div class="register-wrap">
            <div class="label">{{ form.password2.label }}</div> 
            <div class="input-element">{{ form.password2 }}</div>
        </div>
  </div>
  <div class="register-section">
        <div class="register-wrap">
            <div class="label">Name</div> 
            <div class="input-element">{{ form.firstname }}{{ form.lastname }}</div>
        </div>
        <div class="register-wrap">
            <div class="label">{{form.gender.label}}</div> 
            <div class="input-element">{{ form.gender }}</div>
        </div>
        <div class="register-wrap">
            <div class="label">{{form.dateofbirth.label}}</div> 
            <div class="input-element">{{ form.dateofbirth }}</div>
        </div>
        <div class="register-wrap">
            <div class="label">{{form.contact.label}}</div> 
            <div class="input-element">{{ form.contact }}</div>
        </div>
  </div>
  <div class="register-section">
        <div class="register-wrap">
            <div class="label">{{form.country.label}}</div> 
            <div class="input-element">{{ form.country }}</div>
        </div>
        <div class="register-wrap">
            <div class="label">{{form.state.label}}</div> 
            <div class="input-element">{{ form.state }}</div>
        </div>
        <div class="register-wrap">
            <div class="label">{{form.department.label}}</div> 
            <div class="input-element">{{ form.department }}</div>
        </div>
        <div class="register-wrap">
            <div class="label"><label for="id_firstname">{{form.year.label}}</label></div> 
            <div class="input-element">{{ form.year }}</div>
        </div>
  </div>
  
   <div class="register-section">
        <div class="register-wrap">
            <div class="label">{{form.institution.label}}</div> 
            <div class="input-element">{{ form.institution }}</div>
        </div>
        <div class="register-wrap">
            <div class="label">{{form.address.label}}</div> 
            <div class="input-element">{{ form.address }}</div>
        </div>
        <div class="register-wrap">
        {% if form.errors %}
  		<div class="error">All Fields Mandatory. Password Minimum 6 Characters.</div>
  		{% endif %}
  		</div>
  		<div class="register-wrap">
  		<div class="input-element"><button type="button" onclick="signup()">Signup</button></div>
  		</div>
  </div>
  
  <div class="register-section">
  	<div class="register-wrap" id="social-reg">
  	<a class="social-reg" onclick="facebook_login()"><img src="https://lh5.googleusercontent.com/-axMPGZWxufo/UiyD3vOTatI/AAAAAAAABv0/PKbcvYzj10Q/w179-h30-no/fb.png"></a>

  	</div>
  	<div class="register-wrap" id="social-reg">
  	<span id="signinButton">
  <div id="gplus_register" class="customGPlusSignIn social-reg">
  	<img src="{% static 'img/users/g+.png'%}">
  </div>
</span>
</div>

<div class="register-wrap" id="social-reg">
{{form.non_field_errors}}
</div>

  </div>
  
    <a onclick="register()"><img src="https://lh3.googleusercontent.com/-t1VxWEIwgkI/UiyEKavxhgI/AAAAAAAABwI/kIq3Ef3yec4/s24-no/exit.png"></a>
  
</form>


{% endblock %}


