<html>
	<head>
		
		<style type="text/css">
		.table {
		    width: 100%;
		    min-width: 860px;
		}
		
		
		.row1 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 9.7%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row2 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 8.7%;
		    min-height: 20px;
			max-height: 22px;
		}
		
		.row3 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 9.5%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row4 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 7.7%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row5 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 8.7%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row6 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 6%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row7 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 9%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row8 {
		
		    padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 12%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row9 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 10%;
			min-height: 20px;
			max-height: 22px;
		}
		
		
		.row10 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 9%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.hrow1 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 9.7%;
			min-height: 37.5px;
			
		}
		
		.hrow2 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 8.7%;
		    min-height: 37.5px;
			
		}
		
		.hrow3 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 9.5%;
			min-height: 37.5px;
			
		}
		
		.hrow4 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 7.7%;
			min-height: 37.5px;
			
		}
		
		.hrow5 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 8.7%;
			min-height: 37.5px;
			
		}
		
		.hrow6 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 6%;
			min-height: 37.5px;
			
		}
		
		.hrow7 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 9%;
			min-height: 37.5px;
			
		}
		
		.hrow8 {
		
		    padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 12%;
			min-height: 37.5px;
			
		}
		
		.hrow9 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 10%;
			min-height: 37.5px;
			
		}
		
		
		.hrow10 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 9%;
			min-height: 20px;
			max-height: 22px;
			min-height: 37.5px;
		}


	</style>
	<script type="text/javascript">
			function next(){
				$('#transactions').load('/woodstock/ohistory/?t={{ctx.next}}');
			}
			function prev(){
				$('#transactions').load('/woodstock/ohistory/?t={{ctx.prev}}');
			}
		</script>

	</head>
	
	<body>
		
		<div id="myspan" class='card'>
			<div class='tab-head'>Options History</div>
			<table width="100%" id="brownBorder" cellpadding="5" cellspacing="0" class='terminal-table bordered'>
			<tr>
			<td id="brownBorder"><b>Transaction Id</b></td>
			<td id="brownBorder"><b>Company</b></td>
			<td id="brownBorder"><b>Expiry Date</b></td>
			<td id="brownBorder"><b>Call or Put</b></td>
			<td id="brownBorder"><b>Long or Short</b></td>
			<td id="brownBorder"><b>Quantity</b></td>
			<td id="brownBorder"><b>Strike Price</b></td>
			<td id="brownBorder"><b>Underlying Price</b></td>
			<td id="brownBorder"><b>Premium Paid (Rs.)</b></td>
			<td id="brownBorder"><b>Total Profit (Rs.)</b></td></tr>
			 &nbsp;
			 
			 {% for data in datas %}
			 <tr><td id='brownBorder'>{{ data.query.transactionid }}</td>
			<td id='brownBorder'>{{ data.name }}</td>
			<td id='brownBorder'>{{ data.query.expiry }}</td>
			<td id='brownBorder'>{{ data.query.callorput }}</td>
			<td id='brownBorder'>{{ data.query.longorshort }}</td>
			<td id='brownBorder'>{{ data.query.quantity }}</td>
			<td id='brownBorder'>{{ data.query.strikeprice }}</td>
			<td id='brownBorder'>{{ data.query.underlyingprice }}</td>
			<td id='brownBorder'>{{ data.query.premium }}</td>
			<td id='brownBorder' align='right'>
				{% if data.if %}
					<font color='#FF3333'>{{ data.diff }}</font>
				{% else %}
					<font color='#2A3F00'>{{ data.diff }}</font>
				{% endif %}
			</td></tr>
			{% endfor %}
		</table>
		<br><br>
		
		{% if ctx.prev >= 0 %}
			<div class='prev'><input type='button' class='buttonStyle' name='{{ ctx.prev }}' value='Previous' onclick="prev()"/></div>
		{% endif %}
		{% if ctx.count == ctx.no %}
			<div class='next' align='right'><input type='button' class='buttonStyle' name='{{ ctx.next }}' value='Next' onclick='next()'/></div>
		{% endif %}
		
		<br><br>
		</div>
	</body>
	
</html>