<html>
	<head>
		<script></script>
	</head>
	<body>
		<div id="myspan">
		<h1>Options Availability of {{ companynew }}</h1>
		<input type='hidden' name='optionsName' id='optionsName' value='{{ data.company }}'>
	    <table id="brownBorder" cellpadding="5" cellspacing="0" align="center" >
	      <tr>
        <td id="brownBorder"><b>Strike Price</b></td>
        <td id="brownBorder"><b>Call Premium for {{ friday }}</b></td>
		<td id="brownBorder"><b>Put Premium for {{ friday }}</b></td>
		</tr>
		
		{% for z in zipped %}
		<tr>
		<td id='brownBorder'>{{ z.strike }}</td>
        <td id='brownBorder'>{{ z.call }}</td>
        <td id='brownBorder'>{{ z.put }}</td>
       </tr>
        {% endfor %}
        
        </table>
        </div>
        <br><br>
        <input type="button" class="buttonStyle" name="erase" id="erase" value="Erase" onclick= "javascript:erase2();" />
        <br>
	</body>
</html>