#spons-page-container {
    position:absolute;
    background:#fff;
    top:680px;
    width:100%;
    height:680px;
    overflow:hidden;
    min-width:1200px;
    display:flex;
    flex-direction:row
}

.spons-content {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    margin-top:30px;
    width:86%;
    padding:0 7%;
    height: 95%;
}

#spons-year-index {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    margin-bottom:25px
}

#spons-heading {
    color:#000;
    font-size:44px;
    font-family:arial;
    text-align:center
}

.spons-year-page {
    text-align:center;
    transition:opacity .6s ease
}

.spons_invisible {
    opacity:0;
    z-index:-10
}

.spons_visible {
    z-index:25;
    width:80%;
    margin-left:5%;
    overflow:auto;
    margin-bottom:20px;
    min-height:90%;
}

div[class^=spons_tab_] span {
    padding:5px 20px;
    font-weight:700;
    cursor:pointer
}

.spons_tab_visible {
    border-bottom:3px rgba(64, 131, 216, 1) solid
}

.spons-post-group h3 {
    margin-bottom:-5px
}

.sponsor-container a {
    text-decoration:none
}

.spons-item-line {
    width:90%
}

.spons-item-single {
    display:flex;
    align-items:center;
    flex-direction:row;
    justify-content:center
}

.spons-item-logo {
    margin:2% 7%;
    width:15%;
    min-width:150px;
    max-width:350px;
    max-height:350px
}

.sponsorSpecial img {
    width:80%
}

.spons-guide-bottom {
    position:absolute;
    bottom:3%;
    right:5%;
    width:6%;
    min-width:60px
}

.spons-guide-bottom>img {
    width:100%
}

.spons-guide-home {
    position:absolute;
    top:3%;
    right:25px;
    width:150px;
    min-width:40px;
    display:flex
}

.spons-guide-home img {
    width:40px;
    height:40px;
    margin-left:10px;
    cursor:pointer
}

.home-icon-small+.icon-small-title {
    color:inherit;
    left:55px;
    top:0
}

.icon-small-title {
    position:absolute;
    color:inherit;
    margin-left:-45px;
    margin-top:45px;
    text-transform:uppercase;
    font-family:Trebuchet MS;
    font-size:14px;
    opacity:0;
    transition:all .2s ease;
    cursor:default
}

.icon-small-title:hover,img[class$=-icon-small]:hover+.icon-small-title {
    opacity:1
}

.spons-sideline {
    color:#000;
    position:relative;
    width:25px;
    height:80%;
    top:200px;
    left:66px;
    border-left:1px solid rgba(64, 131, 216, 0.5)
}

.spons-sideline>img {
    width:25px;
    left:-12px;
    position:absolute;
    top:-230px
}

.spons_visible {
    opacity:1
}

.sponsorBig>img {
    width:35%
}