		<table border="1">
			<th>Stock</th>
			<th>Opening Price</th>
			<th>Last traded</th>
			<th>Percent change</th>
			{% for data in datas %}
				<font color='#AA9F00'>
					<tr><td>{{ data.query.stock }}</td>
						<td align='right'>{{ data.query.open }}</td>
						<td align='right'>{{ data.query.price }}</td></font>
						<td align='right'>
							{% if data.per >= 0 %} 
								<font color='#18f60d'>
							{% else %}
								<font color='#f43212'>
							{% endif %}
							{{ data.per }} % &nbsp;&nbsp; </font>
						</td>
					</tr>
			{% endfor %}
		</table>