<table>
		<tr><td align='left'>Rank </td><td> : </td><td align='left'>{{data.rank}}</td></tr>
		<tr><td align='left'>Cash in hand </td><td> : </td><td align='left'>Rs {{data.reserve}}</td></tr>
		<tr><td align='left'>Net worth </td><td> : </td><td align='left'>Rs {{data.equity}}</td></tr>
		<tr><td align='left'>Margin </td><td> : </td><td align='left'>Rs {{data.margin}}</td></tr>
</table>