
<div id='targetTab' class='card'>

<table id="brownBorder" cellpadding="5" cellspacing="0" width="40%" align="center">

<tr><td id="brownBorder" align="center"><b>Rank</b></td><td id="brownBorder" align="center"><b>UserId</b></td><td id="brownBorder" align="center"><b>Equity (Rs.)</b></td></tr>
{% for data in datas %}
<tr><td id='brownBorder' align='center'>{{ data.rank }}</td><td id='brownBorder' align='center'>{{ data.userid }}</td><td id='brownBorder' align='right'>{{ data.equity }}</td></tr>
{% endfor %}
</table>
<br><br><br>
</div>
