	<div id="locat">
	{% if type == "currency" %}
	<embed height="345" width="99%" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="lcId=1227720988060&localeUri=http%3A//us.js2.yimg.com/us.yimg.com/i/us/fi/yfcv3/locale/dictionary_en_us_200809231315.xml&buildType=prod&state=symbol%3D{{identifier}}%3Dx%3Brange%3D5d%3Bindicator%3Dvolume%3Bcharttype%3Dline%3Bcrosshair%3Don%3Bohlcvalues%3D0%3Blogscale%3Don&source=undefined" wmode="opaque" loop="false" bgcolor="#ffffff" menu="false" allowscriptaccess="always" name="test" type="application/x-shockwave-flash" src="http://us.js2.yimg.com/us.yimg.com/i/us/fi/yfcv3/swf/flashchart_200810141530.swf"/>
	{% else %}
	<iframe height="345" width="99%" scrolling="no" style="overflow: hidden;" src="http://apps.cnbc.com/view.asp?uid=stocks/charts&symbol={{identifier}}&tearoff=1"></iframe>
	{% endif %}
	<br>
	</div>


