<html>
	<head>
		<style type="text/css">

		.table {
		    width: 100%;
		    min-width: 860px;
		}
		
		
		.row1 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 7.7%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row2 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 8.7%;
		    min-height: 20px;
			max-height: 22px;
		}
		
		.row3 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 6.5%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row4 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 8.7%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row5 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 7.7%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row6 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 10%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row7 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 9%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row8 {
		
		    padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 13%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row9 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 12%;
			min-height: 20px;
			max-height: 22px;
		}
		
		
		.row10 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 5%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.hrow1 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 7.7%;
			min-height: 37.5px;
			
		}
		
		.hrow2 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 8.7%;
		    min-height: 37.5px;
			
		}
		
		.hrow3 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 6.5%;
			min-height: 37.5px;
			
		}
		
		.hrow4 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 8.7%;
			min-height: 37.5px;
			
		}
		
		.hrow5 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 7.7%;
			min-height: 37.5px;
			
		}
		
		.hrow6 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 10%;
			min-height: 37.5px;
			
		}
		
		.hrow7 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 9%;
			min-height: 37.5px;
			
		}
		
		.hrow8 {
		
		    padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 13%;
			min-height: 37.5px;
			
		}
		
		.hrow9 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 12%;
			min-height: 37.5px;
			
		}
		
		
		.hrow10 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 5%;
			min-height: 37.5px;
			
		}

	</style>
	
	<script type='text/javascript'>
		function fterm(id){
			$.post('/woodstock/fclose/', $('form#'+id).serialize() ).done(function(){ $('form#'+id+' .msg').html('Closed'); }).fail(function(){ $('#msg'+id).html('Error'); }).always(function(data){ $('#results').html(data); });
			return false;
		}
		function prev(){
			$('#transactions').load('/woodstock/fterminal/?t={{ctx.prev}}');
		}
		function next(){
			$('#transactions').load('/woodstock/fterminal/?t={{ctx.next}}');
		}
	</script>
		
	</head>
	<body>
		<div id="myspan" class='card'>
		<div class='tab-head'>Future standings</div>
		<div id="result"></div>
		{% if count == 0 %}
			<h3>You don't have any Future holdings now.</h3>
		{% else %}
			<div id='results'></div>
			<table width='100%' id='brownBorder' cellpadding='5' cellspacing='0' class='terminal-table bordered'>
			 <tr>
	        <td id='brownBorder'><b>OrderNo</b></td>
	        <td id='brownBorder'><b>Stockname</b></td>
	        <td id='brownBorder' align='center'><b>Margin</b></td>
	        <td id='brownBorder'><b>Long or Short</b></td>
	        <td id='brownBorder'><b>Quantity</b></td>
	        <td id='brownBorder' align='center'><b>Expiry</b></td>
			<td id='brownBorder'><b>Trigger Price</b></td>
	        <td id='brownBorder' align='center'><b>Open Contract Price</b></td>
		    <td id='brownBorder' align='center'><b>Current Contract Price</b></td>
	        <td id='brownBorder' align='center'><b>Exit</b></td></tr>
		
			{% for data in datas %}
				<tr><td id='brownBorder'>{{ data.query.orderid }}</td>
				<td id='brownBorder'>{{ data.name }}</td>
				<td id='brownBorder'>{{ data.margin }}%</td>
				<td id='brownBorder'>{{ data.query.lors }}</td>
				<td id='brownBorder'>{{ data.query.quantity }}</td>
				<td id='brownBorder'>{{ data.query.expiry }}</td>
				<td id='brownBorder' align='right'>{{ data.triggerprice }}</td>
				<td id='brownBorder' align='right'>{{ data.query.opencp }}</td>
				<td id='brownBorder' align='right'>{{ data.currentcp }}</td>
				<td id='brownBorder'>
					<form id='fclose{{data.query.orderid}}' action='/woodstock/fclose/' method='post' onsubmit='return fterm(this.id);' >
					{% csrf_token %}
					<input type='hidden' name='orderid' id='orderId{{ data.query.orderid }}' value='{{ data.query.orderid }}'>
					<input type='hidden' name='lors' id='lORs{{ data.query.orderid }}' value='{{ data.query.lors }}'>
					<input type='hidden' name='stock' id='stock{{ data.query.orderid }}' value='{{ data.query.stock }}'>
					<input type='hidden' name='quantity' id='quantity{{ data.query.orderid }}' value='{{ data.query.quantity }}'>
					<input type='hidden' name='margin' id='margin{{ data.query.orderid }}' value='{{ data.query.margin }}'>
					<input type='hidden' name='expiry' id='expiry{{ data.query.orderid }}' value='{{ data.query.expiry }}'>
					<input type='hidden' name='expiryno' id='expiryNo{{ data.query.orderid }}' value='{{ data.query.expiryno }}'>
					<input type='hidden' name='opencp' id='openCP{{ data.query.orderid }}' value='{{ data.opencp }}'>
					<input type='hidden' name='profitcp' id='profitCP{{ data.query.orderid }}' value='{{ data.currentcp }}'>
					<input type='hidden' name='time' id='time{{ data.query.orderid }}' value='{{ data.query.time }}'>
					<div class='msg' id='msg{{data.query.orderid}}'>
					{% if tradeallow == 1 and data.timedelta > 2000 %}
					<div id='button{{ forloop.counter }}'><input type='submit' name='submit' value='Exit' class='buttonStyle' > </div>  <!-- onclick="javascript:futuresClose('{{ data.query.orderid }}');changeStyle('button{{ ctx.zero }}');"-->
					{% endif %}
					</div>
					</form>
				</td></tr>
				
			{% endfor %}
			</table>
		{% if ctx.prev >= 0 %}
			<div class='prev'><input type='button' class='buttonStyle' name='{{ ctx.prev }}' value='Previous' onclick="prev()"; /></div>
		{% endif %}
		{% if ctx.counter == ctx.no %}
			<div class='next' align='right'><input type='button' class='buttonStyle' name='{{ ctx.next }}' value='Next' onclick='next()';/></div>
		{% endif %}	
	{% endif %}
	
	<br/><br/>
</div>
		
	</body>
	
</html>