

<div id="myspan">
<table align="center" width="100%">
<tr><td>
<h1>Futures Availability of {{ ctx.companynew }}</h1>
	<input type='hidden' name='futuresName' id='futuresName' value='{{ ctx.company }}'>
    <table id="brownBorder" cellpadding="5" cellspacing="0" align="center" >
      <tr>
      	<td id="brownBorder"><b>Expiry Date</b></td>
        <!-- <td id="brownBorder"><b>Start Price</b></td> -->
        <td id="brownBorder"><b>Contract Price</b></td>
      </tr>
      
		<tr>
		<td id='brownBorder'>{{ ctx.friday }}</td>
        <!-- <td id='brownBorder'></td> -->
        <td id='brownBorder'>{{ ctx.contractprice2 }}</td>
        </tr>
       
   </table>
 </td></tr></table>
</div>

&nbsp;
 &nbsp;
<br/>
<br/>
<input type="button" class="buttonStyle" name="erase" id="erase" value="Erase" onclick= "javascript:erase3();" />
<br/>
&nbsp;