<!--<?php
// updated by PRASHANT for introducing Trigger price and divs
	include_once('../session_check.php');
	include_once('../connection.php');
	include_once('../admin/price.php');
	include_once('func.php');
	include('../parameters.php');
	$nameval['Buy']="Sell";
	$nameval['Short Sell']="Cover Short";


?>-->

<!--<script type="text/javascript" src="{{ STATIC_URL }}js/woodstock.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/Woodstock.css">-->
<script type="text/javascript">
	$(document).ready(function(){
		$('input.hquantity, input.hpendingprice').each(function(){
			var id = $(this).attr('id');
			$(this).attr('value',$('#'+id.substring(1)).val());
		});
		$('input.quantity, input.pendingprice').keyup(function(){
			console.log($(this).val());
			var id = $(this).attr('id');
			$('input#h'+id).attr('value',$(this).val());
		});
	});

	function validateopen(id){
		/*var string=document.getElementById('quantity{{ option.orderno }}').value;
		var string2=document.getElementById('pendingprice{{ option.orderno }}').value;*/
		var string=$('#hquantity'+id).val();
		var string2 = $('#hpendingprice'+id).val();
		var ok=1;
		var ok1=1;
		/*if(string2 == ''){
			alert('Please enter the pending price');
			return false;
		}*/
		for (var j=0;j < string2.length;j++){
        	if ((string2.substring(j,j+1) < '0') || (string2.substring(j,j+1) > '9')){
				if(string2.substring(j,j+1)!='.')
					ok1=0;
			}
		}

	    if (string.length == 0)
				ok=0;
	
	    for (var i=0;i < string.length;i++){
	        if ((string.substring(i,i+1) < '0') || (string.substring(i,i+1) > '9'))
				ok=0;
		}
	
		for (var i=0;i < string.length;i++){
			if ((string.substring(i,i+1) > '0'))
				ok=1;	
		}
	
		if(parseInt(string)>parseInt($('#oldquantity'+id).val()))
			ok=0;
	
		if(parseInt(string)< 1)
			ok=0;
		
		if(ok1==1){
			if(ok==1){
				//alert('csrfmiddlewaretoken='+$('form#open'+id).next('input[name="csrfmiddlewaretoken"]').val()+'&quantity='+string+'&pendingprice='+string2+'&'+$('form#hidden'+id).serialize());
				/*if(confirm("Confirm Closing Transaction #"+orderid))
					{
				$.ajax({
				  type: "GET",
				  url: "forex/closetrade",
				  data: $('form#open'+id).serialize(),
				  beforeSend: function(xhr, settings) {
				            if (!(/^http:.*/             /*.test(settings.url) || /^https:.*/          /*.test(settings.url))) {
				                // Only send the token to relative URLs i.e. locally.
				                xhr.setRequestHeader("X-CSRFToken",
				                                     $("#csrfmiddlewaretoken").val());
				    		$('#msg'+orderid).html("Closing...");
				  }},
				  complete:function () {
				    $('#msg'+orderid).html("Closed");
				  }
				}).done(function( msg ) {
				 	$('#results').html(msg);
				});
					}*/
				if(confirm("Confirm Closing Transaction #"+id)){
					$.post('/woodstock/close/', $('form#open'+id).serialize() ).done(function(){ $('#msg'+id).html('Closed'); }).fail(function(){ $('#msg'+id).html('Error'); }).always(function(data){ $('#results').html(data); });
					return false;
				}
				//get1('{{ option.orderno }}');
			}else{	
			alert('Please enter a valid quantity');
			return false;
			}
		}else{
			alert('Invalid pending price quantity');
			return false;
		}
}

function cancelpen(id){
	$.post('/woodstock/cancelpending/', $('form#'+id).serialize()).done(function(){ $('#msg'+id).html('Closed'); }).fail(function(){ $('#msg'+id).html('Error'); }).always(function(data){ $('#results').html(data); });
	return false;
}

function cancelbuy(id){
	$.post('/woodstock/cancelbuy/', $('form#'+id).serialize()).done(function(){ $('#msg'+id).html('Closed'); }).fail(function(){ $('#msg'+id).html('Error'); }).always(function(data){ $('#results').html(data); });
	return false;
}
</script>

<div class='card'>
<div class="tab-head">Stock Holdings</div> 

	{% if openctx.count == 0 %}
		<h3>You dont have any stock holdings</h3>
	{% else %}
		<div id='results'> </div>
		<table width='100%' id='brownBorder' cellpadding='5' cellspacing='0' class='terminal-table bordered'>
		<tr>
		<td id='brownBorder' align='center'><b>Company</b></td>
		<td id='brownBorder' align='center'><b>B or SS</b></td>
		<td id='brownBorder' align='center'><b>Quantity in stock</b></td>
		<td id='brownBorder' align='center'><b>Quantity to sell</b></td>
		<td id='brownBorder' align='center'><b>Opening Price</b></td>
		<td id='brownBorder' align='center'><b>Current Price</b></td>
		<td id='brownBorder' align='center'><b>Trigger Price</b></td>
		<td id='brownBorder' align='center'><b>Profit</b></td>
		<td id='brownBorder' align='center'><b>Pending Price</b></td>
		<td id='brownBorder' align='center'><b>Action</b></td></tr>
		{% for option,class in openctx.zipped %}
			<tr>
			<td id='brownBorder'><input type='button' class='buttonStyle' name='".urlencode($stock)."' value='{{ class.name_now }}' onclick='javascript:getStats(this.value);'/></td>
			<td id='brownBorder'>{{option.bors}}</td>
			<td id='brownBorder' align='center'>{{option.quantity}}</td>
			<td id='brownBorder'  align='center'><input type='text' size='5' class='quantity' name='quantity' id='quantity{{option.orderno}}' value='{{option.quantity}}'></td>
			<td id='brownBorder' align='center'>{{option.tranprice}}</td>
			<td id='brownBorder' align='center'>{{class.current_price}}</td>
			<td id='brownBorder' align='center'>{{class.triggerprice}}</td>
			<td id='brownBorder' align='center'>
			{% if class.pr < 0 %}
				<font color="red">
					{{ class.pr }}
				</font>
			{% else %}
				<font color='#2A3F00'>
					{{ class.pr }}
				</font>
			{% endif %}
			</td>
			<td id='brownBorder' align='center'><input type='text' size='4' class='pendingprice' name='pendingprice' id='pendingprice{{ option.orderno }}' value=''></td>
			<td id='brownBorder' align='center'>
			<form id='open{{option.orderno}}' action="/woodstock/close/" method='POST' onsubmit="return validateopen(this.id);">
			{% csrf_token %}
			<input type='hidden' name='orderno' id='orderno{{ option.orderno }}' value='{{ option.orderno }}'>
			<input type='hidden' name='bors' id='bors{{ option.orderno }}' value='{{ option.bors }}'>
			<input type='hidden' name='stockname' id='stockname{{ option.orderno }}' value='{{ option.stockname }}'>
			<input type='hidden' name='oldquantity' id='oldquantity{{ option.orderno }}' value='{{ option.quantity }}'>
			<input type='hidden' name='sellprice' id='sellprice{{ option.orderno }}' value='{{ class.current_price }}'>
			<input type='hidden' name='tranprice' id='opendateandtime{{ option.orderno }}' value='{{ option.trandateandtime }}'>
			<input type='hidden' class='hpendingprice' name='pendingprice' id='hpendingprice{{option.orderno}}'>
			<input type='hidden' class='hquantity' name='quantity' id='hquantity{{option.orderno}}'>
			<div class='msg' id='msg{{option.orderno}}' style='display:inline;'>
			{% if tradeallow == 1 %}<!-- and openctx.op > option.trandateandtime--> 
				<input type='button' name='submit' id='{{option.orderno}}' value={% if option.bors == 'Buy' %}'Sell'{% else %}'Cover Short'{% endif %} class='buttonStyle' onclick='validateopen(this.id);'/>
			{% endif %}
			</div>
			</form>
			</td></tr>
		{% endfor %}
		<br>
		</table>
	{% endif %}
	
	{% if pendclose.count == 0 %}
		<br/><br/><br/><br/><br/><br/>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<h3>You dont have Pending Sell or Short Cover now</h3>
	{% else %}
		<h1>Pending sell/short cover</h1>

		<table width='100%' id='brownBorder' cellpadding='5' cellspacing='0' class='terminal-table bordered'>
		<tr>
		
		<td id='brownBorder' align='center'><b>Company</b></td>
		<td id='brownBorder' align='center'><b>B or SS</b></td>
		<td id='brownBorder' align='center'><b>Quantity to sell</b></td>
		<td id='brownBorder' align='center'><b>Current Price</b></td>
		<td id='brownBorder' align='center'><b>Trigger Price</b></td>
		<td id='brownBorder' align='center'><b>Pending Price</b></td>
		<td id='brownBorder' align='center'><b>Action</b></td></tr>
		
		{% for option in pendclose.query %}
			<tr><td id='brownBorder' >{{ option.stockname }}</td>
			<td id='brownBorder'>{{ option.bors }}</td>
			<td id='brownBorder'  align='center'>{{ option.quantity }}</td>
			<td id='brownBorder' align='center'>{{ pendclose.class.current_price }}</td>
			<td id='brownBorder' align='center'></td>
			<td id='brownBorder' align='center'>{{ option.pendingprice }}</td>
			<td id='brownBorder' align='center'>
				<form id='{{option.orderno}}' class='pendingclose' action='/woodstock/cancelpending/' method='POST' onsubmit='return cancelpen(this.id);'>
				<input type='hidden' name='orderno' id='cancelorderno{{ option.orderno }}' value='{{ option.orderno }}'>
				<input type='hidden' name='stockname' id='cancelstockname{{ option.orderno }}' value='{{ option.stockname }}'>
				<input type='hidden' name='bors' id='cancelbors{{ option.orderno }}' value='{{ option.bors }}'>
				<div id='msg{{option.orderno}}'>
			{% if tradeallow == 1 %}
				<input type='submit' name='submit' value='Cancel' class='buttonStyle' />
			{% endif %}
			</div>
				</form>
			</td></tr>
		{% endfor %}
		</table>
	{% endif %}
	
	{% if pending.count == 0 %}
		<br/><br/><br/><br/><br/><br/><br/><br/>
		<h3>You don't have any Pending Buy or Short Sell order now</h3>
	{% else %}
		<br/>
		<h1>Pending Buy/short sell</h1>
		
		
		<table width='100%' id='brownBorder' cellpadding='5' cellspacing='0' class='terminal-table bordered'>
		<tr>
		
		<td id='brownBorder' align='center'><b>Company</b></td>
		<td id='brownBorder' align='center'><b>B or SS</b></td>
		<td id='brownBorder' align='center'><b>Quantity requested</b></td>
		<td id='brownBorder' align='center'><b>Current Price</b></td>
		<td id='brownBorder' align='center'><b>Trigger Price</b></td>
		<td id='brownBorder' align='center'><b>Pending Price</b></td>
		<td id='brownBorder' align='center'><b>Action</b></td></tr>
		
		{% for option,class in pending.zipped %}
			
			<tr><td id='brownBorder'>{{ option.stockname }}</td>
			<td id='brownBorder'>{{ option.bors }}</td>
			<td  id='brownBorder' align='center'>{{ option.quantity }}</td>
			<td id='brownBorder' align='center'>{{ class.current_price }}</td>
			<td id='brownBorder' align='center'>{% if option.triggerprice == 0 %} None {% else %} {{ option.triggerprice }} {% endif %}</td>
			<td id='brownBorder' align='center'>{{ option.pendingprice }}</td>
			<td id='brownBorder' align='center'>
				<form id='{{option.pendingid}}' class='pending' action='/woodstock/cancelbuy/' method="POST" onsubmit='return cancelbuy();'>
				{% csrf_token %}
				<input type='hidden' name='pendingid' id='buypendingid{{ option.pendingid }}' value='{{ option.pendingid }}'>
				<input type='hidden' name='stockname' id='buystockname{{ option.pendingid }}' value='{{ option.stockname }}'>
				<div id='msg{{option.orderno}}'>
				{% if tradeallow == 1 %}
					<input type='submit' name='submit' value='Cancel' class='buttonStyle' >
				{% endif %}
				</div>
				</form>
			</td></tr>
		{% endfor %}
		</table>
	{% endif %}

</div>



